body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: monospace; 
}

.container-items:last-child {
	border-left: 2px solid #ECECED;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.tape-turing {
	display: flex;
	justify-content: center;
	padding: 30px;
	margin: 15px;
	border: 1px solid #03A9F4;
}	
.turing-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	font-size: 30px;
	font-weight: 700;/*#ECECED*/
	color: #FFF;
	border 1px solid #598B11;
	border-radius: 5px;
	margin-right: 10px;
}

.purple {
	background-color: #7B1FA2
}

.blue {
	background-color: #03A9F4;
}

.container {
	margin: 15px;
	display: flex;
	justify-content: space-between;
}

.text {
	height: 20px;
	font-size: 15px;
	padding: 5px;
	border-radius: 5px;
	border:1px solid #03A9F4 ;
	background-color: #ECECED;
}

.boton {
	cursor: pointer;
	font-size: 15px;
	padding: 5px 10px;
	border: 1px solid #03A9F4;
	border-radius: 5px;
	background-color: #03A9F4;
}

.simulacion {
	text-align:center;	
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	height: 30px;
	width: 150px;
	border-radius: 5px;
	border: 2px solid #03A9F4;	
	background-color: #FFF;
}

	
